table, th, td {
  border: 1px solid rgb(95, 136, 127);
  border-collapse: collapse;
  text-align: center;
  font-family: 'Arial';
  margin: 30px 10px;
  padding: 2px 8px;
}

th {
  height: 50px;
  background-color: rgb(28, 77, 69);
  color: #fff;
}

td {
  padding: 8px 10px;
  color: #ebded4;
}

tr.alt {
  background-color: #dbb81b;
}

