.R {
  color:'#ebded4';
  font-size:'12px';
}

.cell-text-X {
  color:'#F4F6F6';
  font-size:'12px';
}

.cell-text-A {
  color:'#FFC300';
  font-size:'15px';
  font-weight:'bolder';
  background-color: antiquewhite;
}

.cell-text-T {
  color:'#FF5733';
  font-size:'15px';
  font-weight:'bolder';
  background-color: antiquewhite;
}

.cell-text-C {
  color:'#117864';
  font-size:'15px';
  font-weight:'bolder';
  background-color: antiquewhite;
}

.cell-text-G {
  color:'#2874A6';
  font-size:'15px';
  font-weight:'bolder';
  background-color: antiquewhite;
}

.varTable {
  padding: 0px 0px;
}